/* */
body {
  background-color: lightgray;
}

.logo{
  height: 10%;
  position:fixed;
  top: 12%;
  border-color: black;
  border-width: medium;
  left: 45%;
}
.header {
  background-color: rgb(40,40,45);
  height: 17%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  color: rgb(90,105,110);
  text-align: left;
  font-family: georgia;
  border-color: black;
  border-style: none none solid none;
  border-width: medium;
}

.main {
  text-align: center;
  position: fixed;
  left: 0;
  top: 30%;
}

a:link {
  font-family: georgia;
  font-size: medium;
  color: rgb(40,40,45);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:visited{
  color: rgb(40,40,45);
}
h3{
  padding: 0px 0px 0px 0px;
  font-family: georgia;
}
p{
  padding: 0px 0px 0px 0px;
  font-family: georgia;
}
.portfolio_main{
  position:fixed;
  top:55px;
  width: 95%;
  height: 85%;
  overflow-y: auto;
}
.portfolio_entry{
  position:relative;
  color: rgb(50,50,55);
  margin: 20px 10px 10px 10px;
  padding: 0px 5px 5px 5px;
  background-color: rgba(204,255,255,0.3);
  border: rgb(102, 255, 255) solid thin;
  overflow: hidden;
}
/*
.slide{
  overflow: hidden;
  border-color: black;
  border-style: solid;
  border-width: medium;
}

div#slide1{
  width: 640px;
  height: 70px;
  position:fixed;
  top:60px;
}
button{
  height:20px;
  width: 50px;
  background-color: black;
  color: lightgray;
}

button#n1{
  position:fixed;
  top:125px; /*the orig_btn_top
  left:295px;
}*/

.footer {
  background-color: rgb(40,40,45);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 10%;
  border-color: black;
  border-style: solid none none none;
  border-width: medium;

  outline-color: rgb(102, 255, 255);
  outline-style: solid none none none;
  outline-width: thin;

  color: gray;
  font-size: small;
  text-align: center;
}
